html{
	height: auto;
}
body{
	height:100%;
	background-color: #f6f8f9;
}

header{
	font-size: 45px;
	font-style: bold;
}

nav{
	background-color: #d5340c;
	height: 100px;
	box-shadow: 0 5px 8px rgba(0, 0, 0, 0.75);
	display: block;
	top: 0;
	width: 100%;
	float: left;
	padding: 0;
	margin: 0 0 1em 0;
	position: sticky;
	z-index: 20;

}

nav .logo{
	display: block;
	width: 400px
	height:77px;
	position: absolute; top:30px;
	margin-top: -20px;
	margin-left: 0px;
	color: #DD3D23;
}
nav ul{
	padding: 0;
	margin: 0 20px 0 0;
}
nav ul li{
	padding: 0;
	margin:0;
	display: block;
	float: right;
}
nav ul a{
	font-size: 30px;
	text-transform: uppercase;
	display: block;
	box-sizing: border-box;
	padding: 32px 15px;
	color: #f6f8f9;
	text-decoration: none;
	font-family: 'Londrina Shadow', bold;
	height: 100px;

}
.title h1{
	font-family: 'Londrina Shadow', bold;
	text-align: center;
	font-size: 50px;
	font-style: bold;
	color: #d5340c;

}

h2{
	font-family: 'Londrina Shadow', bold;
	color: white;
	font-size: 30px;
	text-align: center;
}

p{
	margin: 5px 0 10px 0;
	font-family: 'Pangolin', sans-serif;
	text-align: center;
	color: white;
	position: relative;
}
.founders{
	height:auto;
	width: auto;
	z-index: -1;
	text-align: center;

}

.mum{
	display: inline-block;
	background: url(img/mum.jpeg);
	width: 240px;
	height: 320px;
	background-position: center;
	margin-left: 0;
	position: static;
	z-index: -1;
	border: outset 5px #d5340c;

}

.dad{
	display: inline-block;
	background: url(img/dad.jpeg);
	width: 240px;
	height: 320px;
	background-position: center;
	margin-left: 20px;
	position: static;
	z-index: -1;
	border: outset 5px #d5340c;

}

.will{
	display: inline-block;
	background: url(img/will.jpeg);
	width: 240px;
	height: 320px;
	background-position: center;
	margin-left: 20px;
	position: static;
	z-index: -1;
	border: outset 5px #d5340c;

}

.freddie{
	display: inline-block;
	background: url(img/freddie.jpeg);
	width: 240px;
	height: 320px;
	background-position: center;
	margin-left: 20px;
	position: static;
	z-index: -1;
	border: outset 5px #d5340c;

}
.about{
	border: solid 5px white;
	background-color: #d5340c;
	margin-bottom: 20px;
	border-radius: 25px;
	padding: 5px;

}
.about h2{
	margin: 5px 0 5px 0;
	text-align: center;
	color: white;
	z-index: -1;
}

.about p{
	margin: 5px 0 10px 0;
	font-family: 'Pangolin', sans-serif;
	text-align: center;
	color: white;
}

.third{
	margin: 30px 0 30px 0;
	border: solid 5px white;
	border-radius: 25px;
	position: relative;
	height: auto;
	width:auto;
	overflow: hidden;
	display: inline-block;
	background-color: #d5340c;

}
.fourth{
	height: auto;
	width: auto;
	display: flex;
	position: relative;
}

.pizzapara{
	display: inline;
}

.calzone{
	width:auto;
	height:400px;
	float: right;
	display: inline;
	margin: 10px;
}

.signup{
	height: auto;
	width: 50%;
	background-color: #d5340c;
	border:solid 5px white;
	border-radius: 25px;
	text-align: center;
	position: relative;
	display: inline-block;
}
.cook{
	text-align: center;
	display: block;
}

.cta {
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
	background-color:#f9f9f9;
	border-radius:18px;
	border:4px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:23px;
	font-weight:bold;
	padding:9px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
	text-align: center;
	margin-bottom: 20px;
}
.cta:hover {
	background:linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
	background-color:#e9e9e9;
}
.cta:active {
	position:relative;
	top:1px;
}

.pizza-styles{
	width: 50%;
	border:solid 5px white;
	border-radius: 25px;
	text-align: center;
	display: block;
	float: right;
	background-color: #d5340c;
	position: relative;

}
.pizza-styles h2{
	color:white;
	text-align: center;
}
.pizza-styles h3{
	color: white;
	font-weight: bold;
}
.pizza-list{
	height: auto;
	width: 375px;
	background-color: #ededed;
	box-sizing: border-box;
	padding: 20px 20px 0 20px;
	border-radius: 10px;
	text-align: center;
	margin:10px 10px 20px 20px;
	float: left;

}
.pizza-list li{
	height: auto;
	width: auto;
	border-radius: 10px;
	font-size: 30px;
	color: white;
	font-weight: bold;
	display: block;
	margin-bottom: 20px;
	padding: 5px 20px;
	box-sizing: border-box;
}

.pizza-list li.black{background-color: #5DADE2;}

.pizza-list li.red{background-color: #A569BD;}

.pizza-list li.grey{background-color: grey;}

.pizza-list li.yellow{background-color: #EC7063;}

.pizza-list li.purple{background-color: #F5B041;}

.pizza-list li.green{background-color: #52BE80;}

.pizza-list li.blue{background-color: #AAB7B8;}

footer p{
	color: black;
}
