body{
	background-color: #CFD8DC;
}
header{
	font-size: 45px;
	font-style: bold;
}

nav{
	background-color: #DD3D23;
	height: 100px;
	box-shadow: 0 5px 8px rgba(0, 0, 0, 0.75);
	position: sticky;
	display: block;
	top: 0;
	width: 100%;
	float: left;
	padding: 0;
	margin: 0 0 1em 0;

}

nav .logo{
	display: block;
	width: 400px
	height:77px;
	position: absolute; top:30px;
	margin-top: -20px;
	margin-left: 0px;
}
nav ul{
	padding: 0;
	margin: 0 20px 0 0;
}
nav ul li{
	padding: 0;
	margin:0;
	display: block;
	float: right;
}
nav ul a{
	font-size: 30px;
	text-transform: uppercase;
	display: block;
	box-sizing: border-box;
	padding: 32px 15px;
	color: white;
	text-decoration: none;
	font-family: 'Londrina Shadow', bold;
	height: 100px;

}
h1{
	font-family: 'Londrina Shadow', bold;
	text-align: center;
	font-size: 50px;
	font-style: bold;
}
.title{
}
h2{
	font-family: 'Londrina Shadow', bold;
	color: red;
	font-size: 30px;


}

/*	<div class="founders">
		<div class="mum"><img src="img/mum.jpeg"></div>
		<div class="dad"></div><img src="img/dad.JPG"></div>
		<div class="will"><img src="img/will.jpeg"></div>
		<div class="freddie"><img src="img/freddie.JPG"></div>
	</div>
	*/
.founders{
	height:400px;
	width: auto;
}

.mum{
	display: inline-block;
	background: url(img/mum.jpeg);
	width: 240px;
	height: 320px;
	background-position: center;
	margin-left: 192px;
	position: relative;

}

.dad{
	display: inline-block;
	background: url(img/dad.jpeg);
	width: 240px;
	height: 320px;
	background-position: center;
	margin-left: 20px;
	position: relative;


}

.will{
	display: inline-block;
	background: url(img/will.jpeg);
	width: 240px;
	height: 320px;
	background-position: center;
	margin-left: 20px;
	position: relative;

}

.freddie{
	display: inline-block;
	background: url(img/freddie.jpeg);
	width: 240px;
	height: 320px;
	background-position: center;
	margin-left: 20px;
	position: relative;

}
.about h2{
	margin: 20px 0 5px 0;
}

.about p{
	margin: 5px 0 10px 0;
}







